<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품목록</title>
</head>
<body>
    <h3>상품목록</h3>
    <form id="frm" action="/products/del" method="post">
      <table>
        <thead>
          <tr>
            <th>전체선택</th>
            <th>상품ID</th>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product:${list}">
            <td><input type="checkbox" name="productIds" th:value="${product.productId}"></td>
            <td th:text="${product.productId}">1</td>
            <td><a th:href="@{/products/{id}(id=${product.productId})}" th:text="${product.pname}">컴퓨터</a></td>
            <td th:text="${product.price}">2,000,000</td>
            <td th:text="${product.quantity}">20</td>
          </tr>
        </tbody>
      </table>
    </form>
    <div> 
      <button id="btnDel">삭제</button>
      <button id="btnAdd">등록</button>
    </div>
    <script>
      //삭제
      const $btnDel = document.getElementById('btnDel');
      $btnDel.addEventListener('click', e=>{
        if(!confirm('삭제하시겠습니까')) return;
        const $frm = document.getElementById('frm');
        $frm.submit();  // form태그 내에 있는 input요소를 기반으로 http 요청 메시지를 만든다.

      }, false);

      //등록
      const $btnAdd = document.getElementById('btnAdd');  
      $btnAdd.addEventListener('click',e=>{
        window.location.href = '/products/add';    // GET http://localhost:9080/products/add
      });
    </script>
</body>
</html>