<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품상세</title>

</head>
<body>
  <h3>상품상세</h3>
  <form action="" method="">
    <div><label for="">상품아이디</label><input type="text" name="productId" id="productId" th:value="${detailForm.productId}" readonly></div>
    <div><label for="">상품명</label><input type="text" name="pname" id="" th:value="${detailForm.pname}" readonly></div>
    <div><label for="">가격</label><input type="text" name="price" id="" th:value="${detailForm.price}" readonly></div>
    <div><label for="">수량</label><input type="text" name="quantity" id="" th:value="${detailForm.quantity}" readonly></div>
    <div>
      <button type="button" id="btnUpdate">수정</button>
      <button type="button" id="btnDelete">삭제</button>
      <button type="button" id="btnFindAll">목록</button>
    </div>
  </form>
  <script>
    //수정
    const $btnUpdate = document.getElementById('btnUpdate');
    $btnUpdate.addEventListener('click',e=>{
      const $productId = document.getElementById('productId');
      const productId = $productId.value;
      location.href = `/products/${productId}/edit`;  //GET http://localhost:9080/products/2/edit
    },false);

    //삭제
    const $btnDelete = document.getElementById('btnDelete');
    $btnDelete.addEventListener('click', e=>{
       const $productId = document.getElementById('productId');
       const id = $productId.value;
       //console.log(`id = ${id}`);
       if(window.confirm('삭제하시겠습니까?')) {
         location.href = `/products/${id}/del`;         // get http://localhost:9080/products/상품아이디/del
       }
    }, false);

    //목록
    const $btnFindAll = document.getElementById('btnFindAll');
    $btnFindAll.addEventListener('click',e=>{
      location.href = '/products';    // get http://localhost:9080/products
    },false);
  </script>
</body>
</html>