<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품수정</title>
</head>
<body>
  <h3>상품수정</h3>
  <form action="/" method="post">
    <div><label for="">상품아이디</label><input type="text" name="productId" id="productId" th:value="${updateForm.productId}" readonly></div>
    <div><label for="">상품명</label><input type="text" name="pname" id="" th:value="${updateForm.pname}"></div>
    <div><label for="">가격</label><input type="text" name="price" id="" th:value="${updateForm.price}"></div>
    <div><label for="">수량</label><input type="text" name="quantity" id="" th:value="${updateForm.quantity}"></div>
    <div>
      <button type="submit" id="btnUpdate">저장</button>
      <button type="button" id="btnFindAll">목록</button>
    </div>
  </form>
  <script>
    // GET http://localhost:9080/2/edit


    //목록
    const $btnFindAll = document.getElementById('btnFindAll');
    $btnFindAll.addEventListener('click',e=>{
      location.href = '/products';    // get http://localhost:9080/products
    },false);
  </script>
</body>
</html>